/* .page {
  width:
  height:
  line-gap-override:100px;
} */

#article_title {
  font-family: 'Anton';
  letter-spacing: 3px;
  font-weight: bolder;
}

#intro {
  font-family: 'Oswald';
}

.question{
  font-family: 'Railway';
  font-weight: bold;
}

.answer{
  font-family: 'Railway';
}

#block_quote {
  font-family: 'Oswald';
  font-weight: bolder;
}
